body {
  display: grid;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  grid-template-rows: 50px auto 70px;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100vh;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 15px;
}

@media(max-width:900px) {
  main {
    grid-template-columns: 1fr;
  }
}

footer {
  grid-area: footer;
  text-align: center;
  border: solid gainsboro 1px;
  background-color: snow;
  padding: 15px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.card {
  border: solid gainsboro 5px;
  padding: 0 20px;
}

.world-color {
  color: blue;
}

.design-color {
  color: green;
}

.grey-color {
  color: grey;
}